<!-- 
  Plugin descriptor for the XML domain PDF2 extensions
  
  Copyright (c) 2012 OASIS Open
  
  Implements XSL-FO rendering of elements in the XML domain.
  -->
<plugin id="org.oasis-open.dita.mathmldomain.fo">
  <feature extension="dita.xsl.xslfo"
      value="xsl/mathml-d2fo.xsl" type="file"/>
      
</plugin>
