<?xml version="1.0" encoding="UTF-8"?>
<!--             (C) Copyright OASIS Open 2012.                    -->
<!--             All Rights Reserved.                              -->
    <plugin id="org.dita.doctypes.learning">
        <feature extension="dita.specialization.catalog.relative"
            file="catalog.xml"/>
    </plugin>
    