<!-- 
  Plugin descriptor for the enumeration domain FO rendering plugin.
  
  Copyright (c) 2010 DITA For Publishers
    
  This plug-in extends the base DITA-to-FO process to provide appropriate
  rendering for enumeration domain elements.
  
  -->
<plugin id="org.oasis-open.dita.ruby.fo">
  <require plugin="org.oasis-open.dita.ruby.doctypes"/> 
  <feature extension="dita.xsl.xslfo"
      value="xsl/rubyDomain2fo.xsl" type="file"/>
</plugin>
