<!-- 
  Plugin descriptor for the DITA math domain HTML extensions
  
  Copyright (c) 2013 Eliot Kimber
  
  Implements HTML rendering for the math domain.
  -->
<plugin id="org.oasis-open.dita.mathml.html">
  <require plugin="org.oasis-open.dita.mathml.doctypes"/> 
  <feature extension="dita.xsl.xhtml"
      value="xsl/math-d2html.xsl" type="file"/>
      
</plugin>
